/* app */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* filtro */
.padreF {
  background-color: green;
  margin: 20px auto;
  padding: 10px;
  width: 25%;
  height: 50%;
}
.search{
    display: flex;
}
.input{
    width: 80%;
    margin: auto;
    border: 2px solid #dddddd;
    border-radius: 20px;
    padding: 5px;
}
.lupa{
    background-color: #76b900;
    padding: 5px;
    border-radius: 50px;
}

/* cards */
.padreC {
    background-color: yellowgreen;
    color: black;
    margin: 20px auto;
    width: 65%;
}
.card{
    background-color: white;
    padding: 10px;
    margin: 20px 10px;
}
.card h2{
    color: #76b900;
    margin: 10px;
}
.card h4{
    color: #76b900;
    margin: 10px;
}
.card p{
    color: #4a4a4a;
    margin: 10px;
}
.card p b{
    color: black;
}
.card button{
    border: 2px solid #76b900;
    background-color: #dddddd;
    margin: 10px;
    border-radius: 50px;
    padding: 5px 10px;
}
.card button:hover{
    background-color: #c7c7c7;
}


/* detail */
.btnBack{
    border: 2px solid #76b900;
    color: #76b900;
    font-weight: bold;
    margin: 10px 20px;
    padding: auto;
    width: 10%;
    display: flex;
    align-items: center;
}

    /* media */
    @media (max-width:1000px) {
        .contenedor{
            flex-direction: column;
        }
        .padreF{
            width: 80%;
        }
        .padreC{
            width: 90%;
        }
        .btnBack{
            width: 20%;
        }
    }